body {
    display: flex;
    text-align: center;
    background-color: #003366;
    color: white;
    flex-direction: column;
    object-fit:scale-down ;

}

.body {
    display: flex;
    flex-direction: column;
    background-color:#003366;
    border: solid 5px;
    flex: 1;
    flex-basis: 500px;
    align-items: center;
    object-fit: scale-down;

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    color: white;
    margin-top: 50px;
    font-size: 24px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 1;
    border: solid 5px;
    flex-basis: 300px;
    object-fit: scale-down;
    margin: 20px;

}

#charmanderBTN, #bulbasaurBTN, #squirtleBTN {
    background-color: deepskyblue;
    width: 200%;
    aspect-ratio: 1/1;
    border: solid 5px;
    border-radius: 50%;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    margin: 20px;
    
}
img { width:50%;
      height: auto;
      object-fit: scale-down;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      }
.Infos {
    color: white;
    border: solid 5px;
}

#scoreDisplay {
    display: flex;
    color: white;
    border: solid 5px;
    flex-grow: 1;
    gap: 300px;
}


#roundCount {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.endGameModal {

    position: fixed;
    z-index: 1;
    width: 300px;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    user-select: none;
    top: 50%;
    left: 50%;

}
.footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;
    background-color: hsl(209, 68%, 16%);

}