body {
    display: flex;
    text-align: center;
    background-color: #003366;
    color: white;
    flex-direction: column;
    row-gap: 100px;

}

.body {
    display: flex;
    flex-direction: column;
    background-color:#003366;
    flex: 1;
    flex-basis: 500px;
    align-items:stretch;


}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    color: white;
    margin-top: 50px;
    font-size: 100%
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 1;
    object-fit: scale-down;
    flex-basis: 300px;
    padding: 0px 5%;
    gap: 3%;
}

#charmanderBTN, #bulbasaurBTN, #squirtleBTN {
    background-color: deepskyblue;
    width: 100%;
    border: solid 5px;
    border-radius: 50%;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    object-fit: scale-down;
    max-width: 500px;
    min-width: 80px;
    
    
}
img { width:100%;
      height: auto;
      display: flex;
      flex-grow: 1;
      min-width: 60px;
      object-fit: scale-down;
      aspect-ratio: 1/1;
      max-width: 300px;
      margin: 10%;
      }
.Infos {
    color: white;
    flex-grow: 1;
    font-size: 100%;
}

#scoreDisplay {
    display: flex;
    color: white;
    flex-grow: 1;
    gap: 50%;
    font-size:medium;
    justify-content: center;
    
}


#roundCount {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 200%;
}

.endGameModal {

    position: fixed;
    z-index: 1;
    width: 300px;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    user-select: none;
    top: 50%;
    left: 50%;

}
.footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;
    background-color: hsl(209, 68%, 16%);
    align-self: stretch;

}